@font-face {
  font-family: "Graphik LCG";
  src: url("../assets/fonts/graphikLCG/GraphikLCG-Regular.eot");
  src: url("../assets/fonts/graphikLCG/?#iefix") format("embedded-opentype"), url("../assets/fonts/graphikLCG/GraphikLCG-Regular.woff2") format("woff2"), url("../assets/fonts/graphikLCG/GraphikLCG-Regular.woff") format("woff"), url("../assets/fonts/graphikLCG/GraphikLCG-Regular.ttf") format("truetype"), url("../assets/fonts/graphikLCG/GraphikLCG-Regular.svg#GraphikLCG-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../assets/fonts/graphikLCG/GraphikLCG-Semibold.eot");
  src: url("../assets/fonts/graphikLCG/?#iefix") format("embedded-opentype"), url("../assets/fonts/graphikLCG/GraphikLCG-Semibold.woff2") format("woff2"), url("../assets/fonts/graphikLCG/GraphikLCG-Semibold.woff") format("woff"), url("../assets/fonts/graphikLCG/GraphikLCG-Semibold.ttf") format("truetype"), url("../assets/fonts/graphikLCG/GraphikLCG-Semibold.svg#GraphikLCG-Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

:root {
  --black: #000000;
  --dark-gray: #1d1d1b;
  --white: #fff;
  --gray: #cdd6cd;
  --blue: rgb(93, 164, 234);
  --orange: #ff6336;
  --orange-bg: #ff9c7d;
  --beige: #fff8e4;
  --bgr-blue: #c9e8f2;
  --dark-beige: #dabc98;
  --gray-footer: #eee;
}

body {
  font-family: "Graphik LCG", sans-serif;
  font-size: 16px;
}

.flex {
  display: flex;
}

.page-wrap {
  min-height: 100vh;
  gap: 10px;
  flex-wrap: wrap;
  background-color: var(--white);
  background-size: cover;
}

.container {
  max-width: 1370px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.media_md {
  flex-wrap: wrap;
  gap: 10px;
}
@media (min-width: 768px) and (min-width: 991px) {
  .media_md {
    flex-wrap: nowrap;
  }
}

.wrap {
  flex-wrap: wrap;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.logo-items {
  max-width: 150px;
}

.pad-bot {
  padding-bottom: 20px;
}

.pad-bot2 {
  padding-bottom: 14px;
}

/* header */
.header {
  padding-top: 25px;
  padding-bottom: 25px;
}

.header1 {
  max-width: 1157px;
  width: 100%;
  gap: 10px;
}

.img-logo {
  padding: 0;
}
@media (min-width: 768px) and (min-width: 991px) {
  .img-logo {
    padding: 0 51px;
  }
}

.img-2 {
  max-width: 632px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.img1 {
  max-width: 630px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 15px;
}
@media (min-width: 768px) and (min-width: 991px) {
  .img1 {
    margin-top: 36px;
    margin-bottom: 45px;
  }
}

.nav {
  gap: 15px;
}
@media (min-width: 768px) and (min-width: 991px) {
  .nav {
    gap: 42px;
  }
}

/* Buttons */
.buttons {
  justify-content: flex-start;
  align-items: flex-end;
  gap: 10px;
}
@media (min-width: 768px) and (min-width: 991px) {
  .buttons {
    justify-content: flex-end;
  }
}

.buttons-1 {
  gap: 10px;
  padding-bottom: 25px;
}

.button1 {
  width: 120px;
  height: 45px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: var(--white);
  cursor: pointer;
}

.button2 {
  width: 120px;
  height: 45px;
  background: var(--orange);
  border: none;
  cursor: pointer;
}

.button_3 {
  width: 160px;
  height: 60px;
  background: var(--orange);
  border: none;
  cursor: pointer;
}

.button_4 {
  width: 160px;
  height: 60px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: var(--white);
  cursor: pointer;
}

.button_5 {
  width: 193px;
  height: 60px;
  background: var(--orange);
  border: none;
  cursor: pointer;
}

.button-black {
  width: 160px;
  height: 60px;
  background: var(--black);
  border: none;
  cursor: pointer;
}

/* txt */
.txt-bold {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 45px;
}

.txt-bold-1 {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
}

.font-size-17 {
  font-size: 17px;
}

.txt-black {
  color: var(--black);
}

.txt-white {
  color: var(--white);
}

.h1 {
  max-width: 552px;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: 70px;
  padding-bottom: 51px;
}
@media (min-width: 576px) {
  .h1 {
    font-size: 65px;
  }
}

.h1-lg {
  text-align: center;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 75px;
}
@media (min-width: 576px) {
  .h1-lg {
    font-size: 65px;
  }
}

.h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
}

.txt-main {
  max-width: 471px;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  padding-bottom: 50px;
}

.nav-link {
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.line-height-15 {
  line-height: 15px;
}

.dec-none {
  text-decoration: none;
}

.txt-sm {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

.txt-section {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.txt-link {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  text-decoration: none;
}

.txt-footer {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
}

.p-sm {
  padding-bottom: 35px;
  max-width: 369px;
}

.nav-link:hover {
  color: var(--blue);
}

.link {
  transition: color 0.3s ease;
}

.link:hover {
  color: var(--blue);
}

.h2 {
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  text-align: center;
}
@media (min-width: 768px) and (min-width: 1328px) {
  .h2 {
    text-align: start;
  }
}
@media (min-width: 576px) {
  .h2 {
    font-size: 50px;
  }
}

.h2-footer {
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
}
@media (min-width: 576px) {
  .h2-footer {
    font-size: 40px;
  }
}

.text-center {
  text-align: center;
}

.h3 {
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px;
}

.h3-lg {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}

.h3-lg-1 {
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
}
@media (min-width: 576px) {
  .h3-lg-1 {
    font-size: 35px;
  }
}

.font-weight-regular {
  font-weight: 400;
}

.card-txt {
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 10px;
  padding: 20px 10px 0;
}

.letter-spacing {
  letter-spacing: 0.75px;
}

.h3-width {
  max-width: 461px;
  width: 100%;
}

/* borders */
.border-bottom {
  height: 1px;
  background-color: var(--gray);
  width: 100%;
}

.border-vertical {
  height: 168px;
  width: 1px;
  background-color: var(--black);
  margin-left: 0;
}
@media (min-width: 768px) and (min-width: 991px) {
  .border-vertical {
    margin-left: 125px;
  }
}

/* main section */
.main-container {
  width: 100%;
  margin-top: 5px;
  padding-bottom: 25px;
  max-width: 1290px;
  padding-top: 18px;
  gap: 15px;
}
@media (min-width: 768px) and (min-width: 991px) {
  .main-container {
    margin-top: 97px;
    padding-bottom: 145px;
    gap: 39.984px;
    width: 100%;
    max-width: 1290px;
  }
}

.main-content {
  padding-top: 18px;
  max-width: 620px;
  width: 100%;
}

/* section 1 */
.section-1 {
  background-color: var(--orange-bg);
  background-size: cover;
}

.container-section-1 {
  max-width: 1290px;
  width: 100%;
}

.section-content-1 {
  width: 100%;
  padding-top: 20px;
  margin: 0 auto;
  padding-bottom: 30px;
  max-width: 720px;
}
@media (min-width: 768px) and (min-width: 991px) {
  .section-content-1 {
    padding-top: 100px;
    padding-bottom: 70px;
  }
}

.companies {
  padding-bottom: 45px;
  flex-wrap: wrap;
  gap: 30px;
}
@media (min-width: 768px) and (min-width: 991px) {
  .companies {
    gap: 100px;
    padding-bottom: 96px;
  }
}

/* section 2,3,4 */
.container-section-2 {
  max-width: 1290px;
  margin-top: 30px;
  margin-bottom: 50px;
  gap: 20px;
  width: 100%;
  justify-content: center;
}
@media (min-width: 768px) and (min-width: 1200px) {
  .container-section-2 {
    margin-top: 100px;
    margin-bottom: 250px;
    max-width: 1290px;
    width: 100%;
    justify-content: space-between;
  }
}

.container-section-4 {
  max-width: 1290px;
  margin-top: 30px;
  margin-bottom: 50px;
  gap: 20px;
  width: 100%;
  justify-content: center;
}
@media (min-width: 768px) and (min-width: 1200px) {
  .container-section-4 {
    margin-top: 100px;
    margin-bottom: 250px;
    max-width: 1290px;
    width: 100%;
    gap: 20px;
    justify-content: space-between;
  }
}

.section-content-2 {
  max-width: 493px;
  gap: 30px;
}

.section-content-3 {
  max-width: 520px;
  gap: 30px;
}

/* sections cards -1 */
.section-cards {
  min-height: 1033px;
  background-color: var(--beige);
  background-size: cover;
}

.container-section-cards {
  max-width: 1290px;
  width: 100%;
  padding: 40px 0px 40px 0px;
  gap: 10px;
}
@media (min-width: 768px) and (min-width: 991px) {
  .container-section-cards {
    padding: 120px 0px 93px 0px;
    gap: 58px;
  }
}

.title-cards {
  max-width: 890px;
  width: 100%;
}

.cards {
  gap: 20px;
}
@media (min-width: 768px) and (min-width: 991px) {
  .cards {
    gap: 110px;
  }
}

.card-item {
  max-width: 330px;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card-img {
  width: 100%;
  height: 120px;
  max-width: 160px;
  margin: 10px 20px;
}
@media (min-width: 576px) {
  .card-img {
    margin: 25px 85px;
  }
}

.card-txt-2 {
  padding: 34px 0 25px;
}

/* sections cards -2 */
.section-cards-2 {
  padding-bottom: 40px;
  padding-top: 50px;
}
@media (min-width: 768px) and (min-width: 991px) {
  .section-cards-2 {
    padding-bottom: 187px;
    padding-top: 154px;
  }
}

.container-section-cards-2 {
  width: 100%;
  gap: 25px;
  justify-content: center;
}
@media (min-width: 768px) and (min-width: 1328px) {
  .container-section-cards-2 {
    justify-content: space-between;
  }
}

.title-cards-2 {
  max-width: 1287px;
  width: 100%;
}

.cards-2 {
  gap: 15px;
  max-width: 1290px;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 768px) and (min-width: 1328px) {
  .cards-2 {
    gap: 31px;
    max-width: 1290px;
  }
}
@media (min-width: 768px) and (min-width: 991px) {
  .cards-2 {
    gap: 31px;
    max-width: 1290px;
    flex-direction: row;
  }
}

.card-item-2 {
  max-width: 409px;
  width: 100%;
}

.card-img-1 {
  width: 100%;
  max-width: 145px;
  min-height: 201px;
  padding: 15px 0 10px;
}
@media (min-width: 768px) and (min-width: 991px) {
  .card-img-1 {
    padding: 50px 0 49px;
  }
}

.card-img-2 {
  width: 100%;
  max-width: 179px;
  min-height: 166px;
  padding: 15px 0 10px;
}
@media (min-width: 768px) and (min-width: 991px) {
  .card-img-2 {
    padding: 67px 0 67px;
  }
}

.card-img-3 {
  width: 100%;
  max-width: 179px;
  min-height: 183px;
  padding: 15px 0 10px;
}
@media (min-width: 768px) and (min-width: 991px) {
  .card-img-3 {
    padding: 59px 0 58px;
  }
}

/* section chief */
.section-chief {
  min-height: 468px;
  background-color: var(--bgr-blue);
  background-size: cover;
}

.container-section-chief {
  max-width: 1290px;
  width: 100%;
  gap: 40px;
  padding-top: 20px;
  padding-bottom: 35px;
  justify-content: center;
}
@media (min-width: 768px) and (min-width: 991px) {
  .container-section-chief {
    gap: 85px;
    padding-top: 53px;
    padding-bottom: 105px;
  }
}
@media (min-width: 1328px) {
  .container-section-chief {
    justify-content: space-between;
  }
}

.content-section-chief {
  display: inline-flex;
  padding-top: 20px;
  align-items: flex-start;
  gap: 23px;
  max-width: 895px;
  width: 100%;
}

.content-chief {
  max-width: 920px;
  width: 100%;
}

.signature {
  max-width: 895px;
  padding-bottom: 15px;
  align-items: flex-start;
  gap: 7px;
}

.img-chief {
  max-width: 310px;
  width: 100%;
  min-height: 310px;
}

/* section cake */
.cake {
  min-height: 332px;
  background-color: var(--dark-beige);
  background-size: cover;
}

.cake-container-section {
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: 1290px;
  width: 100%;
  gap: 10px;
  justify-content: center;
}
@media (min-width: 768px) and (min-width: 991px) {
  .cake-container-section {
    padding-top: 69px;
    padding-bottom: 80px;
  }
}
@media (min-width: 1200px) {
  .cake-container-section {
    justify-content: space-between;
  }
}

.cake-img {
  max-width: 176px;
  width: 100%;
}

.cake-gap {
  gap: 15px;
  max-width: 809px;
}
@media (min-width: 768px) and (min-width: 991px) {
  .cake-gap {
    gap: 67px;
  }
}

.gap-cake {
  gap: 20px;
}
@media (min-width: 768px) and (min-width: 991px) {
  .gap-cake {
    gap: 70px;
  }
}

/* sections tools */
.container-section-tools {
  max-width: 1290px;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  gap: 5px;
}
@media (min-width: 768px) and (min-width: 991px) {
  .container-section-tools {
    padding-top: 169px;
    padding-bottom: 162px;
  }
}

.txt2 {
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  max-width: 593px;
  width: 100%;
  margin-bottom: 25px;
}

.content-h2 {
  max-width: 791px;
  width: 100%;
}

.birds-image {
  max-width: 1023px;
  width: 100%;
  margin-bottom: 32px;
}

/* section Easy */
.easy {
  background-color: var(--orange-bg);
  background-size: cover;
}

.container-section-easy {
  max-width: 1290px;
  width: 100%;
  padding-top: 45px;
  padding-bottom: 50px;
}
@media (min-width: 768px) and (min-width: 991px) {
  .container-section-easy {
    padding-top: 119px;
    padding-bottom: 161px;
  }
}

.content-easy {
  max-width: 784px;
  width: 100%;
  padding-bottom: 20px;
}
@media (min-width: 768px) and (min-width: 991px) {
  .content-easy {
    padding-bottom: 29px;
  }
}

.parag-bottom {
  padding-bottom: 25px;
  max-width: 438px;
  width: 100%;
}
@media (min-width: 768px) and (min-width: 991px) {
  .parag-bottom {
    padding-bottom: 54px;
  }
}

/* footer */
.footer {
  background-color: var(--gray-footer);
  background-size: cover;
  width: 100%;
}

.footer-container {
  max-width: 1290px;
  width: 100%;
  padding-top: 30px;
  justify-content: center;
  gap: 20px;
}
@media (min-width: 768px) and (min-width: 991px) {
  .footer-container {
    padding-top: 97px;
  }
}
@media (min-width: 1328px) {
  .footer-container {
    justify-content: space-between;
  }
}

.footer-section-1 {
  padding-right: 30px;
}
@media (min-width: 768px) and (min-width: 1328px) {
  .footer-section-1 {
    padding-right: 140px;
  }
}

.rower-img {
  max-width: 300px;
  width: 100%;
  padding-top: 28px;
}

.icon-img {
  padding-top: 31px;
  padding-bottom: 11px;
}

.paragraf-footer {
  max-width: 290px;
  width: 100%;
  padding-bottom: 15px;
}

.link-footer {
  display: inline-flex;
  padding: 21px 25px 0px 0px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 15px;
}
@media (min-width: 768px) and (min-width: 991px) {
  .link-footer {
    padding: 21px 75px 0px 0px;
  }
}

.box-footer {
  max-width: 850px;
  width: 100%;
  margin: 0 -15px 0;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 1200px) {
  .box-footer {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.col {
  flex: 1 0 auto;
  padding: 15px 15px 0;
}

.col-1 {
  flex: 0 0 auto;
  width: 12.5%;
  padding: 15px 15px 0;
}

.col-2 {
  flex: 0 0 auto;
  width: 25%;
  padding: 15px 15px 0;
}

.col-3 {
  flex: 0 0 auto;
  width: 37.5%;
  padding: 15px 15px 0;
}

.col-4 {
  flex: 0 0 auto;
  width: 50%;
  padding: 15px 15px 0;
}

.col-5 {
  flex: 0 0 auto;
  width: 62.5%;
  padding: 15px 15px 0;
}

.col-6 {
  flex: 0 0 auto;
  width: 75%;
  padding: 15px 15px 0;
}

.col-7 {
  flex: 0 0 auto;
  width: 87.5%;
  padding: 15px 15px 0;
}

.col-8 {
  flex: 0 0 auto;
  width: 100%;
  padding: 15px 15px 0;
}

.pad-link-1 {
  padding: 21px 17px 0px 0px;
}

.pad-link-2 {
  padding: 21px 28px 0px 0px;
}

.pad-link-3 {
  padding: 21px 11px 0px 0px;
  max-width: 176px;
}

.border-footer {
  height: 1px;
  background-color: var(--dark-gray);
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
}
@media (min-width: 768px) and (min-width: 991px) {
  .border-footer {
    margin-top: 95px;
    margin-bottom: 48px;
  }
}

.parag-width {
  max-width: 301px;
  width: 100%;
}

.logo-footer {
  display: inline-flex;
  padding: 5px 6px 6px 0px;
  align-items: flex-start;
  gap: 14px;
}
@media (min-width: 768px) and (min-width: 991px) {
  .logo-footer {
    padding: 5px 6px 0px 0px;
  }
}

.bottom {
  padding-bottom: 20px;
  max-width: 1290px;
  width: 100%;
}
@media (min-width: 768px) and (min-width: 991px) {
  .bottom {
    padding-bottom: 43px;
  }
}

.div-gap {
  gap: 5px;
}

@media screen and (min-width: 576px) {
  .col-sm-1 {
    flex: 0 0 auto;
    width: 12.5%;
    padding: 15px 15px 0;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 25%;
    padding: 15px 15px 0;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 37.5%;
    padding: 15px 15px 0;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 50%;
    padding: 15px 15px 0;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 62.5%;
    padding: 15px 15px 0;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 75%;
    padding: 15px 15px 0;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 87.5%;
    padding: 15px 15px 0;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 100%;
    padding: 15px 15px 0;
  }
}
@media screen and (min-width: 768px) {
  .col-md-1 {
    flex: 0 0 auto;
    width: 12.5%;
    padding: 15px 15px 0;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 25%;
    padding: 15px 15px 0;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 37.5%;
    padding: 15px 15px 0;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 50%;
    padding: 15px 15px 0;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 62.5%;
    padding: 15px 15px 0;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 75%;
    padding: 15px 15px 0;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 87.5%;
    padding: 15px 15px 0;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 100%;
    padding: 15px 15px 0;
  }
}
@media screen and (min-width: 991px) {
  .col-lg-1 {
    flex: 0 0 auto;
    width: 12.5%;
    padding: 15px 15px 0;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 25%;
    padding: 15px 15px 0;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 37.5%;
    padding: 15px 15px 0;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 50%;
    padding: 15px 15px 0;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 62.5%;
    padding: 15px 15px 0;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 75%;
    padding: 15px 15px 0;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 87.5%;
    padding: 15px 15px 0;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 100%;
    padding: 15px 15px 0;
  }
}
@media screen and (min-width: 1200px) {
  .col-xl-1 {
    flex: 0 0 auto;
    width: 12.5%;
    padding: 15px 15px 0;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 25%;
    padding: 15px 15px 0;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 37.5%;
    padding: 15px 15px 0;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 50%;
    padding: 15px 15px 0;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 62.5%;
    padding: 15px 15px 0;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 75%;
    padding: 15px 15px 0;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 87.5%;
    padding: 15px 15px 0;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 100%;
    padding: 15px 15px 0;
  }
}/*# sourceMappingURL=main.css.map */